/Manifest.toml
/.ipynb_checkpoints/
/docs/build/
/docs/Manifest.toml
/docs/src/examples.md

# experiment outputs
*.jld2
*.jld2.bak
*.pdf
*.png

# but keep committed doc assets
!docs/src/assets/*.png
nbs/
**/nbs/
experiments/
src/experiments/
